/* first section starts here */
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family:'poppins';
}
.section-one{
    display: flex;
    justify-content: center;
}
.banner-section{
    display: flex;
    height: 646px;
    width: 1321px;
    background-color:black;
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 130px;
    border-radius: 15px;
}
.info{
    color: white;
    margin-top: 111px;
    margin-left: 106px;
    width: 531px;
    height:424px;
}
.info-title{
    font-family: 'Poppins';
    line-height: 80px;
    font-size: 70px;
}
.live-btn{
    background-color: tomato;
    width: 187px;
    height: 56px;
    border-radius: 5px;
    margin-top: 2rem;
}
.live-btn>a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.preagraph1{
    display: none;
}
/* main section starts here */
.main{
    display: flex;
    margin-right: 20rem;
}
.buttons{
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: 30px;
    width: 100px;
    height: 312px;
    border-radius: 10px;
    background-color: black;
    margin-left: 3rem;
    margin-top: 130px;
}
.button{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.btn>a{
    text-decoration: none;
    color: black;
}
.btn{
    height: 62px;
    width: 200px;
    margin-top: 1rem;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 1rem;
    margin-left: 1rem;
}
.button>div .red{
    background-color: tomato;
}
.transfer-btn{
    display: block;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    width: 100px;
    height: 32px;
    border-radius: 5px;
    border:1px solid gray;
}
.containner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 312px;
    grid-column-gap: 10px;
    grid-row-gap: 2rem;
    flex: 3;
    margin-left: 1rem;
    margin-top: 130px;
}
.items{
    height: 352px;
    width: 312px;
    background-color: whitesmoke;
    border-radius: 5px;
}
.items>img{
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
}
.video-title{
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-bottom: 2rem;
}
span{
    margin-left: 1rem;
}
.symble{
    display: flex;
    gap: 5rem;
    margin-left: 1rem;
}
/* main section ends here */

/* main section ends here */
/* footer section starts here */
.footter{
    background-color: black;
    color: white;
    height:400px ;
    margin-top: 5rem;
}
.footter-div{
  margin-top: 5rem;
}
.footter-heading{
    text-align: center;
    padding-top: 10rem;
}
hr{
    border: 1px solid rgba(128, 128, 128, 0.141);
    margin-top: 2rem;
    width: 80%;
    margin-left: 10rem;
}
.footter-list>li{
    display: inline;
    margin-left: 2rem;
    margin-top: 10rem;
}
.footter-list{
    text-align: center;
    margin-top: 3rem;
}
/* footer section ends here */
/* * Media query starts here */ 

@media screen and (max-width:768px) {
    .banner-section{
        display: flex;
        flex-direction: column;
        background-color: black;
        width: 334px;
        height: 470px;
        margin-top: 50px;
        border-radius: 30px;
    }
    .info{
        color: white;
        width: 250px;
        height:170px;
        margin-top: 50px;
        margin-left: 50px;
    }
    .info-title{
        font-family: 'Poppins';
        line-height: 30px;
        font-size:22px ;
        margin-bottom: 0px;
    }
    .peragraph{
       display: none;
    }
    .peragraph1{
        display: inline-block;
        font-size: 12px;
        font-family: 'Poppins';
        margin-top: 0.5rem;
        margin-bottom: 0px;
    }
    .banner{
        width: 300px;
        height: 250px;
        position: relative;
        left: 1rem;
        top: -5rem;
    }
    .banner-img{
        width: 300px;
        height: 330px;
    }
    .live-btn{
        background-color: tomato;
        border: none;
        width: 160px;
        height: 40px;
        border-radius: 5px;
    }
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .buttons{
        height: 210px;
        width: 176px;
        background-color:white;
        margin-top:0.2rem;
        margin-bottom: 0px;
    }
    .button{
        display: flex;
        justify-content: center;
    }
    .btn{
        width: 160px;
        height: 48px;
        background-color: white;
        border-radius: 10px;
        cursor: pointer;
        border: 1px solid gray;
    }
    .button>div .red{
        background-color: tomato;
        border: none;
    }
    .containner{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 1rem;
        grid-row-gap: 2rem;
        margin-top: 2rem;
        margin-left: 15rem;
    }
    .items{
        height: 386px;
        width: 335px;
        background-color: whitesmoke;
        border-radius: 5px;
    }
    .items>img{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 335px;
        height: 187px;
    }
    .footter-list>li{
        display: block;
    }
    .footter-list{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 5rem;
        margin-left: 4rem;
    }
    .footter-heading{
        text-align: center;
        padding-top: 2rem;
        font-size: 40px;
    }
    hr{
        border: 1px solid rgba(128, 128, 128, 0.32);
        margin-top: 2rem;
        width: 80%;
        margin-left: 3rem;
    }
    .last{
        display: none;
    }
    .tab{
        grid-column-start: 1;
    }
    .footter{
        background-color: black;
        color: white;
        margin-top: 5rem;
        height: 450px;
    }

}
@media screen and (max-width:600px) {
    
}
/* Media query ends here */